<form method="post" action="/wallets/fill_up_wallet">
    {% csrf_token %}
    {% for field in fillup_wallet_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>

    {% endfor %}
    <input type="hidden" name="wallet_hash" value="{{ wallet.slug }}"/>
    <input type="submit" value="Fill Up Wallet">
</form>
<br/>